<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="sleeper.css">
    </head>
    <body>
        <div id="sleeper">
            <table>
                <tr>
                    <td>Jours / Heure</td>
                    <td v-for="n in 24">{{n-1}}</td>
                </tr>
                <tr v-for="(day, idxday) in items">
                    <td>{{weekday[idxday]}}</td>
                    <td v-for="(hour, idxhour) in day">
                        <span v-for="(minute, idxminute) in hour" 
                            v-bind:class="{wake: minute}"
                            @click="invert(idxday, idxhour, idxminute)"
                            
                            >&nbsp;</span>
                    </td>
                </tr>
            </table>
            <button @click="send">Exporter</button>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="sleeper.js"></script>
    </body>

</html>